<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="c:\temp\internal-nlog.txt">
  <!-- define various log targets -->
  <targets>
    <target name="coloredConsole" xsi:type="Console" layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${message}|${exception:format=toString}">
    </target>
  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minLevel="Trace" writeTo="coloredConsole" />
  </rules>
</nlog>